/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body{
    background-color: #b2bec3;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    }

img{
    width: 150px;
    border: 3px solid #F7F2F1;
    border-radius: 50%;
    position: absolute;
    right: 27%;
    top: 100px;
    box-shadow: 2px 3px 2px #6E6D6A;
   }

.boxpozadie {
    background-color: #F7F2F1;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    padding: 20px;
    margin: 150px auto;
    box-shadow:  3px 3px 2px #6E6D6A;
    }

h1{
    color:#EC9511;
    font-size: 36px;
    margin: 30px;
    font-weight: bold;
}
p{
    color:#0A0403;
    margin: 30px;
    font-size: 18px;
    font-style: normal;
}
a {
    color: #F7F2F1;
    text-decoration: none;
    }

.tlacitko {
    width: auto;
    height: 45px;
    background-color: #1da1f2;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color:#F7F2F1;
    box-shadow: 2px 2px 2px #a1a1a1;
    }
.tlacitko twitter{
    background-color: #1da1f2;
    }
.tlacitko fb{
    background-color: #3b5998;
    }
.tlacitko twitter:hover {
    background-color:#0b7bc1;
    }
.tlacitko twitter:hover {
    background-color: #2b406e;
    }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

